* {
    box-sizing: border-box;
}

* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

* h2, h3, h4, p, a, blockquote {
    font-family: 'Quicksand', serif;
}

body {
    padding: 50px 0 0 0;
}

.bold {
    font-weight: bold;
    text-align: center;
}


/* NavBar */

.navbar-default {
    background-color: #B7E3E4;
    border: none;
    padding-right: 40px;
    /*add drop shadow?*/
}

#logo {
    color: #fff;
    padding: 0;
}

.navbar-default .navbar-toggle {
    background-color: #B7E3E4;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.icon-bar {
    background-color: #F03F35 !important;
}

#logo img {
    height: 100%;
    padding: 5px 18px;
    width: auto;
}

#myNavbar {
    padding: 0;
}

#myNavbar a {
    color: #F03F35;
    text-transform: uppercase;
    margin: 0 0 0 8px;
}

#myNavbar a:hover {}

.active a {
    color: #fff !important;
    background-color: #2f7a94 !important;
    font-style: italic;
}


/* Index */

.title-top {
    padding: 0;
    margin: 0;
}

.site-name {
    color: #F03F35;
}

.author {
    color: #5b6a6d;
}

#index-content h1 {
    font-size: 8vw;
    margin: 0;
    padding: 0;
}

#index-content h2 {
    font-weight: bold;
    color: #676767;
}

#index-content .standout {
    font-weight: bold;
    font-style: italic;
    /*background-color: #faff01;*/
    display: inline;
}

#homequote {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: flex-end;
    /* center items vertically, in this case */
    height: 400px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #b7e3e4;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 5.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}


/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 5px;
    z-index: 10;
}

.footer p, a {
    font-size: calc(.7em + .2vw);
    color: #A8A8A8;
}

.footer a:hover {
    color: #2f7a94;
}

@media only screen and (max-width: 300px) {
    footer {
        height: 50px;
        padding: 5px;
    }
}
