.jumbotron h2 {
    padding: 18px 0;
}

.jumbotron p {
    line-height: 1.5em;
}

.jumbotron {
    background-color: transparent !important;
}

.download {
    color: #F03F35;
}

#main-container img {
    width: 100%;
    display: block;
}

#profile-card {
    max-width: 300px;
    float: none;
    margin: 50px auto;
}

#profile-card h4 {
    color: #2f7a94;
}

#profile-card a:hover{
    color: rgb(255, 153, 0);
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Add some padding inside the card container */
.card-container {
    padding:10px 0 5px 5px;
    text-align: center;
    background-color: black;
}

.card-container a {
    color: white;
    padding: 0 10px 0 10px;
}

.card-container a:hover {
    color: #2f7a94;
    text-decoration: none;
}

/* Greyscale to Color profile pic */
#profile-card img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}
#profile-card:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}


ul.skillList {
    text-align: right;
}

ul.skillBubbles, ul.skillList {
    list-style-type: none;
    font-size: calc(60% + .25vw);
    font-family: 'Raleway', sans-serif;
}

.fa-circle, .fa-circle-o {
    text-align: left;
    color: rgba(113, 113, 113, 0.81);
}

.lang {
    padding-top: 20px;
    text-align: center;
}

.lang .languages {
    font-size: calc(112.5% + 1vw)
}

.atom {
    max-width: 1em;
    float: right;
}
