* {
    box-sizing: border-box;
}

* h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

* h2, h3, h4, p, a, blockquote {
    font-family: 'Quicksand', serif;
}

body {
    padding: 50px 0 0 0;
}

.bold {
    font-weight: bold;
    text-align: center;
}

.bold1 {
    font-weight: bold;
    font-family: monospace;
}

.spacer {
    margin-top: 13vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* NavBar */

.navbar-default {
    background-color: #B7E3E4;
    border: none;
}

#logo {
    color: #fff;
    padding: 0;
}

.navbar-default .navbar-toggle {
    background-color: #B7E3E4;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.icon-bar {
    background-color: #F03F35 !important;
}

#logo img {
    height: 100%;
    padding: 5px 18px;
    width: auto;
}

#myNavbar {
    padding: 0;
}

#myNavbar a {
    color: #F03F35;
    text-transform: uppercase;
    margin: 0 0 0 8px;
    text-align: center;
}

#myNavbar a:hover {
    text-align: center;
}

.active a {
    color: #fff !important;
    background-color: #2f7a94 !important;
    font-style: italic;
}


/* Index */
.index-main {
    background-image:url("beach.jpg");
    background-size:100% 100%;
}

.title-top {
    padding: 0;
    margin: 0;
}

.site-name {
    color: #F03F35;
}

.author {
    color: #5b6a6d;
}

#index-content {
    height:95vh;
}

#index-content h1 {
    font-size: 8vw;
    margin: 0;
    padding: 0;
}

#index-content h2 {
    font-weight: bold;
    color: #676767;
}

#homequote {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* stack flex items vertically */
    justify-content: flex-end;
    /* center items vertically, in this case */
    height: 40vh;
}

blockquote {
    text-align: left;
    background: rgba(249, 249, 249, 0.85);
    border-left: 10px solid #b7e3e4;
    margin: .5vh 7vw;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 5.5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}


.announcement  {
    width: 2vw;
    height: auto;
}
#unavail-content {
    text-align: center;
}

#unavail-content h1 {
    text-align: center;
    font-size: 8vw;
}

#unavail-content img {
    height: 20vh;
}

.arrow {
    text-align: center;
}

a.arrow {
    color: black;
    font-size: calc(.7em + 4vw);
    position: absolute;
    bottom: 12vh;
    right:48%;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

a.arrow:hover {
    bottom: 10vh;
    color:#f03f35;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    animation-delay: 3.5s;
}


/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 5px;
    z-index: 10;
}

.footer p, a {
    font-size: calc(.7em + .2vw);
    color: #878686;
}

.footer a:hover {
    color: #2f7a94;
}

@media only screen and (max-width: 300px) {
    footer {
        height: 50px;
        padding: 5px;
    }
}
